body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.titleBrand {
    width: 45em;
}

.box {
    background-color: rgb(109, 109, 109);
    border: none;
    border-radius: 10%;
    box-shadow: 0px 0px 8px #3d3d3d;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 5em;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    line-height: 5rem;
    margin: 0.5rem;
}

.x {
    color: rgb(145, 110, 197);
}

.o {
    color: rgb(91, 216, 255);
}

.box:hover {
    box-shadow: 0px 0px 15px #888
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    place-items: center;
    justify-content: center;
}

.startOver {
    border-radius: 10%;
    border: none;
    font-family: 'Fredoka', sans-serif;
    width: 100px;
    color: rgb(0, 0, 0);
    background: rgb(122, 155, 222);
    margin-bottom: 10px;
}

.announcement {
    font-size: 50px;
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 20px;
}

.lobby {
    background-color: #424242;
    font-family: 'Fredoka', sans-serif;
    width: 60rem;
    height: 20rem;
    justify-content: center;
    margin: auto;
}

.lobby h2 {
    font-size: 55px;
    margin: 30px;
    padding-top: 10px;
}

.xButton {
    color: rgb(145, 110, 197);
    font-size: 5em;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    line-height: 5rem;
    margin: 0.5rem;
    border: none;
}

.oButton {
    color: rgb(91, 216, 255);
    font-size: 5em;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    line-height: 5rem;
    margin: 2rem;
    border: none;
}