body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.titleBrand {
    width: 45em;
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/